<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- ... (head content) ... -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Post Details</h2>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <h3>Title:</h3>
                <p th:text="${post.title}"></p>
            </div>
            <div class="mb-3">
                <h3>Excerpt:</h3>
                <p th:text="${post.excerpt}"></p>
            </div>

            <div class="mb-3">
                <h3>Content:</h3>
                <p th:text="${post.content}"></p>
            </div>
            <div class="mb-3">
                <h3>Updated At:</h3>
                <p th:text="${post.updatedAt}"></p>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <h3>Tags:</h3>
                    <ul>
                        <li th:each="tag : ${post.tags}" class="badge badge-secondary mr-2">
                            <span th:text="${tag.name}" style="color: black;"></span>
                        </li>
                    </ul>
                </div>
                <!-- Comments Section -->
                <div class="mb-3">
                    <h3>Comments:</h3>
                    <ul>
                        <li th:each="comment : ${post.comments}">
                            <div>
                                <h5>Name: <span th:text="${comment.name}"></span></h5>
                                <p>Comment: <span th:text="${comment.comment}"></span></p>
                                <form th:action="@{/comments/delete}" method="post"
                                      onsubmit="return confirm('Are you sure you want to delete this comment?');">
                                    <input type="hidden" name="commentId" th:value="${comment.id}">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete Comment</button>
                                </form>
                            </div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/posts/showFormForUpdate(postId=${post.id})}" class="btn btn-info btn-sm">Update</a>
    <a th:href="@{/posts/delete(postId=${post.id})}" class="btn btn-danger btn-sm"
       onclick="if(!(confirm('Are you sure to delete ?')) return false"
    >Delete</a>
    <div class="container mt-3">
        <a th:href="@{/posts/list}" class="btn btn-secondary">Back to Home</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>

</html>
