.container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }
        .main-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .filter-container {
            flex-basis: 300px;
            margin-right: 20px;
            padding: 20px;
            background-color: #f8f8f8;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .filter-container form {
            margin-bottom: 20px;
        }

        .author, .tag {
            margin-bottom: 10px;
        }

        .post-container {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .post-box {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        flex-basis: calc(50% - 20px);
        box-sizing: border-box;
        margin-bottom: 20px;
    }

        .post-title {
            font-size: 24px;
            margin: 0;
        }

        .post-excerpt {
            margin: 10px 0;
            color: #555;
        }

        .post-author {
            font-style: italic;
            color: #888;
        }

        .post-publishedAt {
            color: #888;
        }